.logo {
  width: 20rem;
}

.logo-loading-render {
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* OVERWRITE MATERIAL UI CSS RULES */
.control-theme .css-518kzi-MuiListItemSecondaryAction-root {
  right: -20px !important;
}

/* .carousel {
  height: 265px !important;
} */

@media screen and (max-width: 899px) {
  .logo {
    width: 13rem;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-loading-render {
    width: 13rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  /* OVERWRITE MATERIAL UI CSS RULES */
  .carousel {
    height: 200px !important;
  }
}
