.logo {
  width: 20rem;
}

@media screen and (max-width: 899px) {
  .logo {
    width: 13rem;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* OVERWRITE MATERIAL UI CSS RULES */
.control-theme .css-518kzi-MuiListItemSecondaryAction-root {
  right: -20px !important;
}
